.modal-project {
  .modal-header {
    border: none;
  }

  .modal-body {
    text-align: center;

    .image-wrapper {
      padding: 20px;
    }

    .text-wrapper {
      padding: 20px;
    }
  }
}